
<div class="gallery-cell">
	<div class="articles-picture">
		<img class="user-picture" src="{{ user.avatar }}" height="200" width="200">
		<p>{{user.author}}</p>
	</div>
	<div class="articles-description-container">
		<div class="articles-title">
			<h3 class="articles-font-bold">{{title}}</h3>
		</div>
		<h3 class="articles-font-light">
			<span class="material-icons">format_quote</span>
			{{format_cut_content post_content 450}} ... 
			<span class="material-icons">format_quote</span>
		</h3>
		<div>
		<a class="articles-button" href="/articles/{{id}}">Full Article</a>			
		</div>
	</div>
</div>


