
<div class="center-gallery-container">
<div class="gallery-cell">
	<div class="articles-picture">
		<div class="user-picture-container">
			<img class="user-picture" src="{{ check_url user.avatar }}">
		</div>
		<div class="user-name">
			<p>{{user.author}}</p>
		</div>

	</div>
	<div class="articles-description-container">
		<div class="articles-title">
			<h3 class="articles-font-bold">{{title}}</h3>
		</div>
		<h3 class="articles-font-light">
			<img class="quotes" src="https://img.icons8.com/ios-filled/50/ffffff/quote-left.png" height="20"/>
			{{format_cut_content post_content 90}} ... 
			<img class="quotes" src="https://img.icons8.com/ios-filled/50/ffffff/quote-right.png" height="20"/>
		</h3>
		<div>
			<a class="articles-btn" href="/articles/{{id}}">Full Article</a>			
		</div>
	</div>
</div>
</div>


