
    <div class="panel">
        <div class="panel-heading">
            <h1>{{name}}</h1>
        </div>
        <div class="panel-body">
            <img class="product-picture" src="{{product_img}}" alt="" width="150" height="150">
                <p class="product-text">{{description}}</p>
            <hr>
                <a class="product-text" href="{{website}}">
                <p>{{website}}</p></a>
        </div>
    </div>