<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title">{{name}}</h1>
    </div>
    <div class="panel-body">
        <div>
            <img class="product-picture" src="{{check_url product_img}}" alt="{{name}}" height="150">
        </div>
        <div class="product-description">
            <p class="product-text">{{description}}</p>
            <hr>
        </div>

        <div class="text-center button-position">
            <a class="button product-text" href="/products/{{id}}">
                Learn More
            </a>
        </div>
    </div>
<<<<<<< HEAD

</div>


=======
</div>

>>>>>>> 6d8b7bf9c204ac3c0b2ae5451b60691201fde854
