  <div class="container">
    <div class="row">
      <section class="post">
      <h2>Articles</h2>
      {{#each posts as |post|}}
        <article class="post-list">
          <div class="title-bar">
            <div class="title">
              <h3><a href="/articles/{{id}}">{{title}}</a></h3>
            </div>
            {{> meta post}}
          </div>
          <div class="content">{{format_cut_content post_content 200}} <a href="/articles/{{id}}"> &hellip; read more</a></div>

        </article>
      {{/each}}

      {{#if loggedIn}}
      <div class="add-articles-button">
          <a href="/articles/add" class="articles-button">Add an article</a>
        {{else}}
        <p>&nbsp;</p>
      </div>
      {{/if}}

      </section>
    </div>
  </div>