  <div class="container">
    <h2>FEATURED PRODUCTS</h2>
    <h4>Some featured products chosen by our admins</h4><br>
    <div class="media">
      <div class="media-left media-middle">
        <img src="https://picsum.photos/200" class="media-object" style="width:300px">{{product_img}}
      </div>
      <div class="media-body text-center">
        <h4 class="media-heading">{{name}}</h4>
        <p>{{description}}</p>
        <p>{{website}}</p>
        <p>{{where to buy}}</p>
        <p>{{category}}</p>
        <p>{{status}}</p>
      </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left media-middle">
          <img src="https://picsum.photos/200" class="media-object" style="width:300px">{{product_img}}
        </div>
        <div class="media-body text-center">
          <h4 class="media-heading">{{name}}</h4>
          <p>{{description}}</p>
          <p>{{website}}</p>
          <p>{{where to buy}}</p>
          <p>{{category_id}}</p>
          <p>{{retailerIds}}</p>
          <p>{{status}}</p>
        </div>
      </div>
    <hr>
    <div class="media">
        <div class="media-left media-middle">
          <img src="https://picsum.photos/200" class="media-object" style="width:300px">{{product_img}}
        </div>
        <div class="media-body text-center">
          <h4 class="media-heading">{{name}}</h4>
          <p>{{description}}</p>
          <p>{{website}}</p>
          <p>{{where to buy}}</p>
          <p>{{category}}</p>
          <p>{{status}}</p>
        </div>
      </div>
      <hr>