<br>
<br>
<br>
<br>

<div class="card mb-3 text-center productspage">
{{#each products as |product|}}
  <div class="row">
    <div class="col-md-4">
      <img src="{{product_img}}" class="card-img" alt="..." height="200">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title product-title">
            <a href="/products/{{id}}">{{name}}</a>
        </h5>
        <hr>
        <p class="card-text">{{description}}</p>
        <hr>
        <a href="{{website}}" target="_blank"><p class="text-muted">Visit Website</p></a>
      </div>
    </div>
  </div>
  <br>
  <br>
    {{/each}}
</div>