  <section class="post">
  <h2>Products</h2>
  {{#each products as |product|}}
{{product.name}}
{{product.description}}
  {{/each}}
  <p>&nbsp;</p>
  </section>

{{!-- <div class="container">
<h2>PRODUCTS</h2>
<h4>All products</h4><br>
<div class="media">
  <div class="media-left media-middle">
    <img src="https://picsum.photos/200" class="media-object" style="width:300px">{{product_img}}
  </div>
  <div class="media-body text-center">
    <h4 class="media-heading">{{name}}</h4>
    <img src="{{product_img}}" alt="" width="150" height="150">
    <p>{{description}}</p>
    <a href="{{website}}"><p>{{website}}</p></a>
    <p>{{category}}</p>
    <p>{{status}}</p>
  </div>
</div>
<hr> --}}