<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.css">

<div class="container">
    <div class="products-page-container">
        <div class="row">
            <section class="post">
                <div class="product-category-container">
                    <div class="filter-category-position">
                        <label for="filter-category">Filter by Category</span></label>
                        <select id="filter-category" name="filter-category" class="form-control filter-select">
                            <option value="0" {{compare_string "0" selected_category}}>All</option>
                            {{#each categories as |category|}}
                            <option value="{{category.id}}" {{compare_string category.id @root.selected_category}}>
                                {{category.category_name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="add-product-position">
                    {{#if loggedIn}}
                            <a class="add-product-button" href="/products/add">Add a Product</a>
                            {{else}}
                            <p>&nbsp;</p>
                    {{/if}}
                    </div>                   
                </div>
                <div class="form-bottom"></div>

                <div class="product-page-grid">
                    {{#each products as |product|}}
                    <div class="product-row">
                        <div class="product-picture-grid">
                            <img src="{{product_img}}" class="card-picture" alt={{name}} height="200" width="">
                        </div>
                        <div class="product-details-grid">
                            <div class="card-body">
                                <h5 class="card-title product-title">
                                    {{#if ratings}}
                                    <a class="title-bold" href="/products/{{id}}">{{name}}</a>
                                    <select class="star_rating" data-id={{id}} data-value={{ratings.0.avg_rating}}>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    {{else}}
                                    <a class="title-bold" href="/products/{{id}}">{{name}}</a>
                                    {{/if}}
                                </h5>
                                <hr>
                                <p class="card-text">{{description}}</p>
                                <hr>
                                <a class="button" href="{{website}}" target="_blank">
                                    Visit Website
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
<script src="./javascript/products.js"></script>