<div class="container">
    <div class="row">
        <section class="post">
            {{#if loggedIn}}
            <a href="/products/add" class="button">Add a Product</a>
            {{else}}
            <p>&nbsp;</p>
            {{/if}}

            <div class="slideanim product-page-grid">
                {{#each products as |product|}}
                <div class="product-row">
                    <div class="product-picture-grid">
                        <img src="{{product_img}}" class="card-picture" alt="..." height="200" width="">
                    </div>
                    <div class="product-details-grid">
                        <div class="card-body">
                            <h5 class="card-title product-title">
                                <a class="title-bold" href="/products/{{id}}">{{name}}</a>
                            </h5>
                            <hr>
                            <p class="card-text">{{description}}</p>
                            <hr>
                            <a class="website-button" href="{{website}}" target="_blank">
                                <p class="text-muted website-link">Visit Website</p>
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>